:host mat-list {
    margin: 0 10px;
}

:host mat-toolbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

:host mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.task-list-container {
    padding-top: 56px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img {
        max-width: 30%;
        padding-right: 10px;
    }
}
