<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title">
      <img src="assets/main_icon.png">
      <h3>Deal With It</h3>
    </span>
    <span>
      <button mat-icon-button (click)="createTask()">
        <i class="material-icons">add</i>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="task-list-container">
  <mat-list>
    <mat-list-item *ngFor="let task of tasks; let i = index" class="task-list">
      <mat-icon mat-list-icon>description</mat-icon>
      <h4 mat-line *ngIf="task.title && task.title != ''">{{task.title}}</h4>
      <p mat-line> {{task.text}} </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
