:host mat-dialog-actions {
    justify-content: space-between;
}

:host mat-dialog-content div {
    overflow: auto;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

:host mat-dialog-content {
    min-width: 150px;
    min-height: 50px;
    word-wrap: break-word;
}

:host .mat-dialog-title {
    font: 500 20px/22px Roboto,"Helvetica Neue",sans-serif;
}

:host .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin-bottom: 3px;
    
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    
    /* Support for IE. */
    font-feature-settings: 'liga';
}